body {
    font-family: 'Consolas', monospace;
}

.ascii-box {
    background: #111;
    padding: 20px;
    border-radius: 8px;
    height: 500px;
    overflow-y: auto;
    font-size: 16px;
    white-space: pre;
    color: #0f0;
    border: 1px solid #333;
}
